div.audio-meta { vertical-align: baseline; }
div.audio-player { padding: 5px 0 0 0; }
div #footer small { color: #999; }
body {background-color: #f1f2f6;}
/** .navbar-default .navbar-brand { color: #434A54; } **/
/** Webseitentitel nicht mehr grau, sondern porzellan, 14.08.2016 **/
.navbar-default .navbar-brand { color: #D2D7D3; }
.page-header { border-bottom-color: #ccc; }

/** blockquotes kleiner, 26.12.16 **/

blockquote, blockquote p {padding:10px 20px;
  margin:0 0 20px;
  font-size: inherit;
  font-style: italic;
  border-left:5px solid #eee}
